.DS_Store
yarn.lock
package-lock.json
node_modules/
/dist

# local env files
.env.local
.env.*.local

public/
.deploy*/
db.json
Thumbs.db


# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
